#thanks.modal.fade.modal--wrapper(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-body
                h4.title Ačiu!
                div.wrapper-col
                    div.colLeft(data-dismiss="modal", data-form="")
                        a(href="javascript:;") Back to Application list
                    div.colRight(data-dismiss="modal")
                        a(href="javascript:;",data-toggle="modal",
                        data-target="#sendBack") Preview Application
