footer.footer {
    .wrapper-footer {
        .wrapper-footer__forms {
            display: inline-block;
            width: 50px;
            vertical-align: middle;
            padding: 15px;
            margin: 0;
            margin-right: -4px;
        }
        .wrapper-footer__corrections {
            display: inline-block;
            width: 50px;
            vertical-align: middle;
            padding: 15px;
        }
    }
}
